<p-toast></p-toast>

<p-table
  #dt
  [value]="empleados"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'codigo',
    'cedula',
    'nombre',
    'primerApellido',
    'segundoApellido',
    'telefono1',
    'telefono2',
    'descripcionPuesto',
    'descripcionRestaurante'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Empleados
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">
        Código <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="cedula">
        Cédula <p-sortIcon field="cedula"></p-sortIcon>
      </th>
      <th pSortableColumn="nombre">
        Nombre <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th pSortableColumn="primerApellido">
        Primer Apellido <p-sortIcon field="primerApellido"></p-sortIcon>
      </th>
      <th pSortableColumn="segundoApellido">
        Segundo Apellido <p-sortIcon field="segundoApellido"></p-sortIcon>
      </th>
      <th pSortableColumn="telefono1">
        Teléfono #1 <p-sortIcon field="telefono1"></p-sortIcon>
      </th>
      <th pSortableColumn="telefono2">
        Teléfono #2 <p-sortIcon field="telefono2"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcionPuesto">
        Puesto <p-sortIcon field="descripcionPuesto"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcionRestaurante">
        Restaurante <p-sortIcon field="descripcionRestaurante"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'codigo', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'cedula', 'contains')"
          placeholder="Buscar por Cédula"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'nombre', 'contains')"
          placeholder="Buscar por Nombre"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'primerApellido', 'contains')"
          placeholder="Buscar por Primer Apellido"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'segundoApellido', 'contains')
          "
          placeholder="Buscar por Segundo Apellido"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'telefono1', 'contains')"
          placeholder="Buscar por Teléfono #1"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'telefono2', 'contains')"
          placeholder="Buscar por Teléfono #2"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'descripcionPuesto', 'contains')
          "
          placeholder="Buscar por Puesto"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'descripcionRestaurante', 'contains')
          "
          placeholder="Buscar por Restaurante"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ empleado.codigo }}
      </td>
      <td>
        <span class="p-column-title">Cédula</span>
        {{ empleado.cedula }}
      </td>
      <td>
        <span class="p-column-title">Nombre</span>
        <span class="image-text">{{ empleado.nombre }}</span>
      </td>
      <td>
        <span class="p-column-title">Primer Apellido</span>
        <span class="image-text">{{ empleado.primerApellido }}</span>
      </td>
      <td>
        <span class="p-column-title">Segundo Apellido</span>
        {{ empleado.segundoApellido }}
      </td>
      <td>
        <span class="p-column-title">Teléfono #1</span>
        {{ empleado.telefono1 }}
      </td>
      <td>
        <span class="p-column-title">Teléfono #2</span>
        {{ empleado.telefono2 }}
      </td>
      <td>
        <span class="p-column-title">Puesto</span>
        {{ empleado.descripcionPuesto }}
      </td>
      <td>
        <span class="p-column-title">Restaurante</span>
        {{ empleado.descripcionRestaurante }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(empleado)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(empleado)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Detalles del Empleados"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="codigo">Código</label>
      <input
        type="text"
        pInputText
        id="codigo"
        [(ngModel)]="empleado.codigo"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.codigo"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="cedula">Cédula</label>
      <input
        type="text"
        pInputText
        id="cedula"
        [(ngModel)]="empleado.cedula"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.cedula"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="empleado.nombre"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.nombre"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="primerApellido">Primer Apellido</label>
      <input
        type="text"
        pInputText
        id="primerApellido"
        [(ngModel)]="empleado.primerApellido"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.primerApellido"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="segundoApellido">Segundo Apellido</label>
      <input
        type="text"
        pInputText
        id="segundoApellido"
        [(ngModel)]="empleado.segundoApellido"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.segundoApellido"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="telefono1">Teléfono #1</label>
      <input
        type="text"
        pInputText
        id="telefono1"
        [(ngModel)]="empleado.telefono1"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.telefono1"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="telefono2">Teléfono #2</label>
      <input
        type="text"
        pInputText
        id="telefono2"
        [(ngModel)]="empleado.telefono2"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.telefono2"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idPuesto">Puesto</label>
      <p-dropdown
        [(ngModel)]="empleado.idPuesto"
        inputId="idPuesto"
        [options]="puestos"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.nombre }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idPuesto"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idNacionalidad">Nacionalidad</label>
      <p-dropdown
        [(ngModel)]="empleado.idNacionalidad"
        inputId="idNacionalidad"
        [options]="nacionalidades"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.pais }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idNacionalidad"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idRestaurante">Restaurante</label>
      <p-dropdown
        [(ngModel)]="empleado.idRestaurante"
        inputId="idRestaurante"
        [options]="restaurantes"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.nombre }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idRestaurante"
        >Campo Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
