<p-toast></p-toast>

<p-table
  #dt
  [value]="empleados"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'identification',
    'email',
    'name',
    'last_name',
    'address',
    'phone_numbers',
    'role_code',
    'nationality',
    'picture',
    'birth_date'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Empleados
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="identification">
        Código <p-sortIcon field="identification"></p-sortIcon>
      </th>
      <th pSortableColumn="email">
        Cédula <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="last_name">
        Primer Apellido <p-sortIcon field="last_name"></p-sortIcon>
      </th>
      <th pSortableColumn="address">
        Segundo Apellido <p-sortIcon field="address"></p-sortIcon>
      </th>
      <th pSortableColumn="phone_numbers">
        Teléfono #1 <p-sortIcon field="phone_numbers"></p-sortIcon>
      </th>
      <th pSortableColumn="role_code">
        Teléfono #2 <p-sortIcon field="role_code"></p-sortIcon>
      </th>
      <th pSortableColumn="nationality">
        Puesto <p-sortIcon field="nationality"></p-sortIcon>
      </th>
      <th pSortableColumn="birth_date">
        Restaurante <p-sortIcon field="birth_date"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'identification', 'startsWith')
          "
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'email', 'contains')"
          placeholder="Buscar por Cédula"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'name', 'contains')"
          placeholder="Buscar por Nombre"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'last_name', 'contains')"
          placeholder="Buscar por Primer Apellido"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'address', 'contains')"
          placeholder="Buscar por Segundo Apellido"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'phone_numbers', 'contains')"
          placeholder="Buscar por Teléfono #1"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'role_code', 'contains')"
          placeholder="Buscar por Teléfono #2"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'nationality', 'contains')"
          placeholder="Buscar por Puesto"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'birth_date', 'contains')"
          placeholder="Buscar por Restaurante"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ empleado.identification }}
      </td>
      <td>
        <span class="p-column-title">Cédula</span>
        {{ empleado.email }}
      </td>
      <td>
        <span class="p-column-title">Nombre</span>
        <span class="image-text">{{ empleado.name }}</span>
      </td>
      <td>
        <span class="p-column-title">Primer Apellido</span>
        <span class="image-text">{{ empleado.last_name }}</span>
      </td>
      <td>
        <span class="p-column-title">Segundo Apellido</span>
        {{ empleado.address }}
      </td>
      <td>
        <span class="p-column-title">Teléfono #1</span>
        {{ empleado.phone_numbers }}
      </td>
      <td>
        <span class="p-column-title">Teléfono #2</span>
        {{ empleado.role_code }}
      </td>
      <td>
        <span class="p-column-title">Puesto</span>
        {{ empleado.nationality }}
      </td>
      <td>
        <span class="p-column-title">Restaurante</span>
        {{ empleado.birth_date }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(empleado)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(empleado)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Detalles del Empleados"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="identification">Código</label>
      <input
        type="text"
        pInputText
        id="identification"
        [(ngModel)]="empleado.identification"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.identification"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="email">Cédula</label>
      <input
        type="text"
        pInputText
        id="email"
        [(ngModel)]="empleado.email"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.email"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="empleado.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.name"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="last_name">Primer Apellido</label>
      <input
        type="text"
        pInputText
        id="last_name"
        [(ngModel)]="empleado.last_name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.last_name"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="address">Segundo Apellido</label>
      <input
        type="text"
        pInputText
        id="address"
        [(ngModel)]="empleado.address"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.address"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="phone_numbers">Teléfono #1</label>
      <input
        type="text"
        pInputText
        id="phone_numbers"
        [(ngModel)]="empleado.phone_numbers"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.phone_numbers"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="role_code">Teléfono #2</label>
      <input
        type="text"
        pInputText
        id="role_code"
        [(ngModel)]="empleado.role_code"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !empleado.role_code"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idPuesto">Puesto</label>
      <p-dropdown
        [(ngModel)]="empleado.idPuesto"
        inputId="idPuesto"
        [options]="puestos"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.name }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idPuesto"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idNacionalidad">Nacionalidad</label>
      <p-dropdown
        [(ngModel)]="empleado.idNacionalidad"
        inputId="idNacionalidad"
        [options]="nacionalidades"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.pais }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idNacionalidad"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idRestaurante">Restaurante</label>
      <p-dropdown
        [(ngModel)]="empleado.idRestaurante"
        inputId="idRestaurante"
        [options]="restaurantes"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.name }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !empleado.idRestaurante"
        >Campo Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
