<p-table
  #dt
  [value]="comestibles"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'code',
    'name',
    'line',
    'brand_code',
    'class',
    'edible_type',
    'amount',
    'measure_unit',
    'description'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Comestibles
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code">
        Código <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Nombre del comestible <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="brand_code">
        Nombre del restaurante <p-sortIcon field="brand_code"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'code', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'name', 'contains')"
          placeholder="Buscar por nombre"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'brand_code', 'contains')"
          placeholder="Buscar por restaurante"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comestible>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ comestible.code }}
      </td>
      <td>
        <span class="p-column-title">Nombre</span>
        <span class="image-text">{{ comestible.name }}</span>
      </td>
      <td>
        <span class="p-column-title">Marca</span>
        <span class="image-text">{{ comestible.marca }}</span>
      </td>
      <td>
        <span class="p-column-title">Clase de Comestible </span>
        <span class="image-text">{{ comestible.descripcionNacionalidad }}</span>
      </td>
      <td>
        <span class="p-column-title">Precio</span>
        <span class="image-text">{{ comestible.line }}</span>
      </td>
      <td>
        <span class="p-column-title">Restaurante</span>
        <span class="image-text">{{ comestible.brand_code }}</span>
      </td>
      <td>
        <span class="p-column-title">Cantidad</span>
        <span class="image-text">{{ comestible.amount }}</span>
      </td>
      <td>
        <span class="p-column-title">Linea de comestible</span>
        <span class="image-text">{{ comestible.description }}</span>
      </td>
      <td>
        <span class="p-column-title">Unidad Medida</span>
        <span class="image-text">{{ comestible.description }}</span>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(comestible)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(comestible)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Informacion del comestible"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="code">Codigo</label>
      <input
        type="text"
        pInputText
        id="code"
        [(ngModel)]="comestible.code"
        required
        autofocus
        disabled
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.code"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="comestible.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.name"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="line">Precio</label>
      <input
        type="text"
        pInputText
        id="line"
        [(ngModel)]="comestible.line"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.line"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="class">Marca</label>
      <p-dropdown
        [(ngModel)]="comestible.class"
        inputId="class"
        [options]="marcas"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.idMarca }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !comestible.class"
        >Campo Requerido</small
      >
    </div>

    <div class="p-field">
      <label for="descripcionNacionalidad">Nacionalidad</label>
      <p-dropdown
        [(ngModel)]="comestible.descripcionNacionalidad"
        inputId="descripcionNacionalidad"
        [options]="nacionalidades"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.idNacionalidades }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !comestible.class"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="brand_code">Restaurante</label>
      <input
        type="text"
        pInputText
        id="brand_code"
        [(ngModel)]="comestible.brand_code"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.brand_code"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="amount">Cantidad</label>
      <input
        type="text"
        pInputText
        id="amount"
        [(ngModel)]="comestible.amount"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.amount"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="description">Descripcion</label>
      <input
        type="text"
        pInputText
        id="description"
        [(ngModel)]="comestible.description"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.description"
        >Campo Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
