<p-table
  #dt
  [value]="comestibles"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'codigo',
    'nombre',
    'precio',
    'descripcionRestaurante',
    'descripcionMarca',
    'descripcionTipoComestible',
    'cantidad',
    'descripcion'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Comestibles
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">
        Código <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="nombre">
        Nombre del comestible <p-sortIcon field="nombre"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcionRestaurante">
        Nombre del restaurante <p-sortIcon field="descripcionRestaurante"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'codigo', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'nombre', 'contains')
          "
          placeholder="Buscar por nombre"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'descripcionRestaurante', 'contains')"
          placeholder="Buscar por restaurante"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-comestible>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ comestible.codigo }}
      </td>
      <td>
        <span class="p-column-title">Nombre</span>
        <span class="image-text">{{ comestible.nombre }}</span>
      </td>
      <td>
        <span class="p-column-title">Marca</span>
        <span class="image-text">{{ comestible.marca }}</span>
      </td>
      <td>
        <span class="p-column-title">Clase de Comestible </span>
        <span class="image-text">{{ comestible.descripcionNacionalidad }}</span>
      </td>
      <td>
        <span class="p-column-title">Precio</span>
        <span class="image-text">{{ comestible.precio }}</span>
      </td>
      <td>
        <span class="p-column-title">Restaurante</span>
        <span class="image-text">{{ comestible.descripcionRestaurante }}</span>
      </td>
      <td>
        <span class="p-column-title">Cantidad</span>
        <span class="image-text">{{ comestible.cantidad }}</span>
      </td>
      <td>
        <span class="p-column-title">Linea de comestible</span>
        <span class="image-text">{{ comestible.descripcion }}</span>
      </td>
      <td>
        <span class="p-column-title">Unidad Medida</span>
        <span class="image-text">{{ comestible.descripcion }}</span>
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(comestible)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(comestible)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Informacion del comestible"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
        <label for="codigo">Codigo</label>
        <input
          type="text"
          pInputText
          id="codigo"
          [(ngModel)]="comestible.codigo"
          required
          autofocus
        />
        <small class="p-invalid" *ngIf="submitted && !comestible.codigo"
          >Campo Requerido</small
        >
      </div>
    <div class="p-field">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        pInputText
        id="nombre"
        [(ngModel)]="comestible.nombre"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !comestible.nombre"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="precio">Precio</label>
      <input
        type="text"
        pInputText
        id="precio"
        [(ngModel)]="comestible.precio"
        required
        autofocus
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !comestible.precio"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="descripcionMarca">Marca</label>
      <p-dropdown
        [(ngModel)]="comestible.descripcionMarca"
        inputId="descripcionMarca"
        [options]="marcas"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.idMarca }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !comestible.descripcionMarca"
        >Campo Requerido</small
      >
    </div>
  
    <div class="p-field">
      <label for="descripcionNacionalidad">Nacionalidad</label>
      <p-dropdown
        [(ngModel)]="comestible.descripcionNacionalidad"
        inputId="descripcionNacionalidad"
        [options]="nacionalidades"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.idNacionalidades }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !comestible.descripcionMarca"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="descripcionRestaurante">Restaurante</label>
      <input
        type="text"
        pInputText
        id="descripcionRestaurante"
        [(ngModel)]="comestible.descripcionRestaurante"
        required
        autofocus
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !comestible.descripcionRestaurante"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="cantidad">Cantidad</label>
      <input
        type="text"
        pInputText
        id="cantidad"
        [(ngModel)]="comestible.cantidad"
        required
        autofocus
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !comestible.cantidad"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="descripcion">Descripcion</label>
      <input
        type="text"
        pInputText
        id="descripcion"
        [(ngModel)]="comestible.descripcion"
        required
        autofocus
      />
      <small
        class="p-invalid"
        *ngIf="submitted && !comestible.descripcion"
        >Campo Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


