<p-table
  #dt
  [value]="cajas"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'codigo',
    'fechaRegistro',
    'descripcion',
    'entradaDinero',
    'aperturaCaja',
    'cierreCaja',
    'descripcionRestaurante'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Cajas
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="codigo">
        Código <p-sortIcon field="codigo"></p-sortIcon>
      </th>
      <th pSortableColumn="fechaRegistro">
        Fecha Registro <p-sortIcon field="fechaRegistro"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcion">
        Descripción <p-sortIcon field="descripcion"></p-sortIcon>
      </th>
      <th pSortableColumn="entradaDinero">
        Entrada de Dinero <p-sortIcon field="entradaDinero"></p-sortIcon>
      </th>
      <th pSortableColumn="aperturaCaja">
        Apertura de Caja <p-sortIcon field="aperturaCaja"></p-sortIcon>
      </th>
      <th pSortableColumn="cierreCaja">
        Cierre de Caja <p-sortIcon field="cierreCaja"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcionRestaurante">
        Restaurante <p-sortIcon field="descripcionRestaurante"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'codigo', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'fechaRegistro', 'contains')"
          placeholder="Buscar por Fecha Registro"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'descripcion', 'contains')"
          placeholder="Buscar por Descripción"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'entradaDinero', 'contains')"
          placeholder="Buscar por Entrada Dinero"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'aperturaCaja', 'contains')"
          placeholder="Buscar por Apertura Caja"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'cierreCaja', 'contains')"
          placeholder="Buscar por Cierre Caja"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'descripcionRestaurante', 'contains')
          "
          placeholder="Buscar por Restaurante"
          class="p-column-filter"
        />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consecutivo>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ consecutivo.codigo }}
      </td>
      <td>
        <span class="p-column-title">Fecha Registro</span>
        <span class="image-text">{{ consecutivo.fechaRegistro }}</span>
      </td>
      <td>
        <span class="p-column-title">Descripción</span>
        <span class="image-text">{{ consecutivo.descripcion }}</span>
      </td>
      <td>
        <span class="p-column-title">Entrada de Dinero</span>
        {{ consecutivo.entradaDinero }}
      </td>
      <td>
        <span class="p-column-title">Apertura de Caja</span>
        {{ consecutivo.aperturaCaja }}
      </td>
      <td>
        <span class="p-column-title">Cierre de Caja</span>
        {{ consecutivo.cierreCaja }}
      </td>
      <td>
        <span class="p-column-title">Restaurante</span>
        {{ consecutivo.descripcionRestaurante }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>
