<p-toast></p-toast>

<p-table
  #dt
  [value]="usuarios"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="['code', 'name', 'last_name', 'phone_numbers']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Usuarios
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code">
        Código <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="name">
        Nombre <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="last_name">
        Primer Apellido <p-sortIcon field="last_name"></p-sortIcon>
      </th>
      <th pSortableColumn="phone_numbers">
        Teléfono Celular <p-sortIcon field="phone_numbers"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'code', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'name', 'contains')"
          placeholder="Buscar por Nombre"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'last_name', 'contains')"
          placeholder="Buscar por Primer Apellido"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'phone_numbers', 'contains')"
          placeholder="Teléfono Celular"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ usuario.code }}
      </td>
      <td>
        <span class="p-column-title">Nombre</span>
        <span class="image-text">{{ usuario.name }}</span>
      </td>
      <td>
        <span class="p-column-title">Primer Apellido</span>
        <span class="image-text">{{ usuario.last_name }}</span>
      </td>
      <td>
        <span class="p-column-title">Teléfono Celular</span>
        {{ usuario.phone_numbers }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(usuario)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(usuario)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Detalles del Usuario"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="code">Código</label>
      <input
        type="text"
        pInputText
        id="code"
        [(ngModel)]="usuario.code"
        required
        autofocus
        disabled
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.code"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="name">Nombre</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="usuario.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.name"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="last_name">Apellido</label>
      <input
        type="text"
        pInputText
        id="last_name"
        [(ngModel)]="usuario.last_name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.last_name"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="phone_numbers">Teléfono Celular</label>
      <input
        type="text"
        pInputText
        id="phone_numbers"
        [(ngModel)]="usuario.phone_numbers"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.phone_numbers"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field mt-2">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="usuario.sis_admin"
          [binary]="true"
          inputId="sis_admin"
        ></p-checkbox>
        <label for="sis_admin">Administrador del Sistema</label>
      </div>
    </div>
    <div class="p-field mt-2">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="usuario.sec_admin"
          [binary]="true"
          inputId="sec_admin"
        ></p-checkbox>
        <label for="sec_admin">Administrador de Seguridad</label>
      </div>
    </div>
    <div class="p-field mt-2">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="usuario.rest_admin"
          [binary]="true"
          inputId="rest_admin"
        ></p-checkbox>
        <label for="rest_admin">Administrador del Restaurante</label>
      </div>
    </div>
    <div class="p-field mt-2">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="usuario.accounts_admin"
          [binary]="true"
          inputId="accounts_admin"
        ></p-checkbox>
        <label for="accounts_admin">Administrador de Cuentas</label>
      </div>
    </div>
    <div class="p-field">
      <label for="username">Nickname</label>
      <input
        type="text"
        pInputText
        id="username"
        [(ngModel)]="usuario.username"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.username"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="password">Contraseña</label>
      <input
        type="text"
        pInputText
        id="password"
        [(ngModel)]="usuario.password"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !usuario.password"
        >Campo Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
