<p-toast></p-toast>

<p-table
  #dt
  [value]="unidadesMedida"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'code',
    'description',
    'descripcionEscala',
    'detalle',
    'simbologia'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Unidades de Medida
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code">
        Código <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Unidad de Medida <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="descripcionEscala">
        Escala <p-sortIcon field="descripcionEscala"></p-sortIcon>
      </th>
      <th pSortableColumn="detalle">
        Detalle <p-sortIcon field="detalle"></p-sortIcon>
      </th>
      <th pSortableColumn="simbologia">
        Simbología <p-sortIcon field="simbologia"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'code', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'description', 'contains')"
          placeholder="Buscar por Unidad de Medida"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="
            dt.filter($event.target.value, 'descripcionEscala', 'contains')
          "
          placeholder="Buscar por Escala"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'detalle', 'contains')"
          placeholder="Buscar por Detalle"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'simbologia', 'contains')"
          placeholder="Contiene Simbología"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unidadMedida>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ unidadMedida.code }}
      </td>
      <td>
        <span class="p-column-title">Unidad de Medida</span>
        <span class="image-text">{{ unidadMedida.description }}</span>
      </td>
      <td>
        <span class="p-column-title">Escala</span>
        <span class="image-text">{{ unidadMedida.descripcionEscala }}</span>
      </td>
      <td>
        <span class="p-column-title">Detalle</span>
        {{ unidadMedida.detalle }}
      </td>
      <td>
        <span class="p-column-title">Simbología</span>
        {{ unidadMedida.simbologia }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(description)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(description)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Detalles de la Unidad de Medida"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="code">Código</label>
      <input
        type="text"
        pInputText
        id="code"
        [(ngModel)]="unidadMedida.code"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.code"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="description">Unidad</label>
      <input
        type="text"
        pInputText
        id="description"
        [(ngModel)]="unidadMedida.description"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.description"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idEscala">Escala</label>
      <p-dropdown
        [(ngModel)]="unidadMedida.idEscala"
        inputId="idEscala"
        [options]="escalas"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.label }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.idEscala"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="idDetalle">Detalle</label>
      <p-dropdown
        [(ngModel)]="unidadMedida.idDetalle"
        inputId="idDetalle"
        [options]="detalles"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.label }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.idDetalle"
        >Campo Requerido</small
      >
    </div>

    <div class="p-field">
      <label for="simbolo">Símbolo</label>
      <input
        type="text"
        pInputText
        id="simbolo"
        [(ngModel)]="unidadMedida.simbolo"
        disabled
      />
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.simbolo"
        >Campo Requerido</small
      >
    </div>

    <div class="p-field">
      <label for="simbologia">Simbología</label>
      <input
        type="text"
        pInputText
        id="simbologia"
        [(ngModel)]="unidadMedida.simbologia"
        disabled
      />
      <small class="p-invalid" *ngIf="submitted && !unidadMedida.simbologia"
        >Código Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
