<p-toast></p-toast>

<p-table
  #dt
  [value]="consecutivos"
  dataKey="id"
  styleClass="p-datatable-customers"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros"
  [filterDelay]="0"
  [globalFilterFields]="[
    'code',
    'type',
    'description',
    'value',
    'prefix',
    'has_prefix'
  ]"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Lista de Consecutivos
      <span class="p-input-icon-left ml-5">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Global Search"
        />
      </span>
      <button
        pButton
        pRipple
        label="Nuevo"
        icon="pi pi-plus"
        class="p-button-success ml-5"
        (click)="openNew()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="code">
        Código <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="type">
        Tipo <p-sortIcon field="type"></p-sortIcon>
      </th>
      <th pSortableColumn="description">
        Descripción <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="value">
        Valor Consecutivo <p-sortIcon field="value"></p-sortIcon>
      </th>
      <th pSortableColumn="has_prefix">
        Contiene Prefijo? <p-sortIcon field="has_prefix"></p-sortIcon>
      </th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'code', 'startsWith')"
          placeholder="Buscar por Código"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'type', 'contains')"
          placeholder="Buscar por Tipo"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'description', 'contains')"
          placeholder="Buscar por Descripción"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'value', 'contains')"
          placeholder="Buscar por Valor"
          class="p-column-filter"
        />
      </th>
      <th>
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, 'has_prefix', 'contains')"
          placeholder="Contiene Prefijo"
          class="p-column-filter"
        />
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consecutivo>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Código</span>
        {{ consecutivo.code }}
      </td>
      <td>
        <span class="p-column-title">Tipo</span>
        <span class="image-text">{{ consecutivo.type }}</span>
      </td>
      <td>
        <span class="p-column-title">Descripción</span>
        <span class="image-text">{{ consecutivo.description }}</span>
      </td>
      <td>
        <span class="p-column-title">Valor</span>
        {{ consecutivo.value }}
      </td>
      <td>
        <span class="p-column-title">Contiene Prefijo?</span>
        {{ consecutivo.has_prefix }}
      </td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success p-mr-2"
          (click)="editProduct(consecutivo)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-warning"
          (click)="deleteProduct(consecutivo)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No se encontraron registros.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="dialog"
  [style]="{ width: '450px' }"
  header="Detalles del Consecutivo"
  [modal]="true"
  styleClass="p-fluid"
>
<div class="p-field">
  <label for="value">Valor del Consecutivo</label>
  <input
    type="text"
    pInputText
    id="value"
    [(ngModel)]="consecutivo.value"
    required
    autofocus
  />
  <small class="p-invalid" *ngIf="submitted && !consecutivo.value"
    >Campo Requerido</small
  >
</div>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="idTipo">Tipo de Consecutivo</label>
      <p-dropdown
        [(ngModel)]="consecutivo.idTipo"
        inputId="idTipo"
        [options]="types"
        placeholder="Seleccione"
      >
        <ng-template let-option pTemplate="item">
          <span>{{ option.label }}</span>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !consecutivo.idTipo"
        >Campo Requerido</small
      >
    </div>

    <div class="p-field">
      <label for="description">Descripción</label>
      <input
        type="text"
        pInputText
        id="description"
        [(ngModel)]="consecutivo.description"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !consecutivo.description"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field">
      <label for="value">Valor del Consecutivo</label>
      <input
        type="text"
        pInputText
        id="value"
        [(ngModel)]="consecutivo.value"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !consecutivo.value"
        >Campo Requerido</small
      >
    </div>
    <div class="p-field mt-2">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="consecutivo.has_prefix"
          [binary]="true"
          inputId="has_prefix"
        ></p-checkbox>
        <label for="has_prefix">Contiene Prefijo</label>
      </div>
    </div>
    <div class="p-field">
      <label for="prefijo">Prefijo</label>
      <input
        type="text"
        pInputText
        id="prefijo"
        [(ngModel)]="consecutivo.prefijo"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !consecutivo.prefijo"
        >Código Requerido</small
      >
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancelar"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
